@import '../settings.less';
@import '../colours.less';

.layer {
  display: block;
  clear: both;
  margin: @spacing;
  text-align: center;
}

#view-layer {
  background-color: fade(@view-layer-bg, 30%);
}

#action-layer {
  background-color: fade(@action-layer-bg, 30%);
}

#dispatcher-layer {
  background-color: fade(@dispatcher-layer-bg, 30%);
}

#store-layer {
  background-color: fade(@store-layer-bg, 30%);
}
